body {
  background-color: #F8ECC2;
  font-family: Arial, sans-serif;
}

nav {
  width: 100%;
  background-color: #65A8A6;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #000;
}

.menu-trigger {
  text-align: center;
  display: none;
}

nav a:hover {
  background-color: #E65540;
}

@media screen and (max-width:500px) {
  nav li {
    display: block;
    text-align: center;
  }

  nav ul {
    display: none;
  }

  nav a {
    border-bottom: 1px solid #79896D;
  }

.menu-trigger {
  display: block;
}

}
